{% extends "layout.html" %}

{{ super() }}

{% block body %}

    <!-- padding-right = 10% + 10% / 0.8 -->
    <div class="w3-container w3-light-gray w3-medium">

        <br>

        <button class="w3-button w3-centering w3-blue-gray material-icons"
                style="width: 180px; height: 40px; border: solid 1px darkslategray; margin: auto; display: block;">home
        </button>

        <br>

        <nav>
            <a href="/"><i class="fas fa-home"></i> Home</a>
            <a href="/dash/dash_app1/"><i class="fas fa-chart-line"></i> Embdedded Plotly Dash</a>
        </nav>
    </div>

{% endblock %}