{% extends "layout.html" %}

{#{{ super() }}#}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <h3>Testing the iframe here:</h3>
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph">
                    <div style="width: 100%; min-height:800px;">
                        <iframe
                                style='position: absolute; width: 78%; min-height: 100%;
                                background: transparent; border: solid 1px gray;
                                margin: 1%;'
                                src={{ dash_url }}>
                        </iframe>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
{% endblock javascripts %}