@import "w3.css";

:root {
    --base-size: 80px;
    --bar-height: 54.5px;
    --cernblue: #0033A0;
    --cernlightblue: #4D94CCFF;
}

html {
    height: 100%;
}

body {
    width: 90%;
    height: 100%;
    margin: auto;
    overflow: auto;
    /*flex-grow: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    border-left: solid 2px dimgray;
    border-right: solid 2px dimgray;
    font-family: "Rubik", sans-serif;
}

hr {
    opacity: 0.7;
    border-width: 4px;
    border-color: olivedrab;
}

figcaption {
    width: 70%;
    margin: auto;
    display: block;
    font-weight: bold;
    padding-top: 20px;
    font-style: italic;
}

.w3-container {
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.iframe-container {
    /*width: 100%;*/
    /*height: 100%;*/
    /*flex-grow: 1;*/
    /*display: flex;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*padding-top: 10%;*/
    /*padding-top: 56.25%;*/
    /*padding-bottom: 56.25%;*/
    /*flex-direction: column;*/
}

.iframe-dash {
    padding: 10px;
    background: skyblue;
    border: none;
    width: 100%;
    min-height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}