@import "w3.css";

:root {
    --base-size: 80px;
    --cernblue: #0033A0;
    --bar-height: 54.5px;
    --cernlightblue: #4D94CCFF;
}

html {
    height: 100%;
}

body {
    width: 90%;
    height: 100%;
    margin: auto;
    overflow: auto;
    /*flex-grow: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    border-left: solid 2px dimgray;
    border-right: solid 2px dimgray;
    font-family: "Rubik", sans-serif;
}

hr {
    opacity: 0.7;
    border-width: 4px;
    border-color: olivedrab;
}

figcaption {
    width: 70%;
    margin: auto;
    display: block;
    font-weight: bold;
    padding-top: 20px;
    font-style: italic;
}

.w3-container {
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.iframe-dash {
    width: 100%;
    border: none;
    display: flex;
    padding: 10px;
    min-height: 200vh;
    flex-direction: column;
}