@import "w3.css";

:root {
    --base-size: 80px;
    --bar-height: 54.5px;
    --cernblue: #0033A0;
    --cernlightblue: #4D94CCFF;
}

body {
    width: 90%;
    margin: auto;
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    border-left: solid 2px dimgray;
    border-right: solid 2px dimgray;
}

hr {
    opacity: 0.7;
    border-width: 4px;
    border-color: olivedrab;
}

figcaption {
    width: 70%;
    margin: auto;
    display: block;
    font-weight: bold;
    padding-top: 20px;
    font-style: italic;
}

.w3-container {
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
}
